block variables

doctype html
html(lang=lang, class="v-reset v-no-transition")

    head
        meta(content="text/html; charset=UTF-8", http-equiv="Content-Type")
        meta(http-equiv="X-UA-Compatible", content="IE=Edge")

        title #{title}

        meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no")
        
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="format-detection", content="telephone=no")

    body(class="v-loading")

        include ./modules/preloader

        .page.height-full.hidden

            include ./blocks/header
            
            .app(data-v-page=page, data-v-pageAjax-name=page, class="height-full")

                div(class="scroll " + page)
                    .scroll__outer

                        block content